body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;

  font-size: 32px;
  font-family: monospace;

  background-color: #e8daab;
}

#root {
  height: 500px;
  max-width: 90%;
  width: 500px;

  background-color: #ffffff;
  border-radius: 15px;
}

#display {
  width: 100%;
  max-width: 500px;
  height: 25%;
  padding: 24px;

  box-sizing: border-box;
  background-color: #232323;
  border-radius: 15px 15px 0 0;
}

.hide-scroll {
  height: 100%;

  overflow: hidden;
}

#total-display {
  display: inline-block;

  margin: 0;
  width: 100%;
  height: 60%;
  text-align: right;

  color: #ffffff;
  font-size: 40px;
  font-family: monospace;

  background-color: #232323;
  border: none;
  outline: none;

  white-space: nowrap;

  /* Push the scroll bar */
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: -120px;
  padding-bottom: 100px;
}

#history-display {
  display: inline-block;

  margin: 12px 0 0 0;
  width: 100%;
  height: 40%;
  text-align: right;

  color: #747474;
  font-size: 22px;

  background-color: #232323;
  border: none;
  outline: none;

  white-space: nowrap;

  /* Push the scroll bar */
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: -120px;
  padding-bottom: 100px;
}

.row {
  display: flex;
  height: 12.3%;

  background-color: #ffffff;
  border-bottom: 1px solid #ababab;
}

.calculator-input {
  /* reset default button styling */
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 33.4%;

  cursor: pointer;
}

.calculator-input:active {
  background: #d4d3d3;
}

.calculator-input-large {
  width: 66.8%;

  color: #ffffff;

  border: none;
  background-color: #f38d09;
}

.add-borders {
  border-left: 2px solid #ababab;
  border-right: 2px solid #ababab;
}

.add-border-right {
  border-right: 2px solid #ababab;
}
